.nav-container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    height: 5em;
    font-family: 'Open Sans', sans-serif;
}

.nav-logo{
    text-decoration: none;
    color:#000;
    font-weight: 700;
    margin: 0;
    font-size: 1.5rem;
}

.nav-logo:hover{
    color:#000;
}

.nav-items_container{
    display:flex;
    align-items: center;
    list-style: none;
    margin: 0;
}

.nav-items_container a{
    text-decoration:none;
    color:#000;
    padding-left: 3.125em;
    font-weight: 400;
    font-size: 1.125rem;
}

.nav-button{
    cursor: pointer;
    color:#000;
    background:#FDEC52;
    border: none;
    font-size: 1rem;
    padding: .5em .8em;
    border-radius: .4em;
}


.nav-button:hover{
    background:#f7e11f;
}

.nav-responsive{
    background: #fff;
    position: fixed;
    z-index: 11;
    top: 0;
    bottom: 0;
    right: 0;
    width: 31.25em;
    transform: translateX(100%);
    height: 100vh;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.nav-responsive_items-container{
    display:flex;
    flex-direction: column;
    list-style: none;
    padding-top: 1em;
}

.nav-responsive_items-container li{
    padding: .625em .625em;
    font-size: 1.3rem;
    font-weight: 400;
}

.nav-responsive_items-container a{
    color:#000;
    text-decoration: none;
}

.nav-backdrop{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 10;
    width: 100%;
    background: #0000005e;
}

.nav-backdrop_active{
    display: block;
}


.nav-responsive_active{
    transform: translateX(0%)
}

.nav-hamburger{
    display: none;
}


.nav-hamburger{
    display: none;
    cursor: pointer;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    position: relative;
    z-index: 12;
    height: 1.2em;
    width: 2em;
    border-radius: .5em;
}

.nav-hamburger span{
    display: block;
    position: absolute;
    height: .18em;
    width: 100%;
    border-radius: 1em;
    background: #000;
    opacity: 1;
    right: 0;  
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.nav-hamburger span:nth-child(1) {
    top: 0em;
}

.nav-hamburger span:nth-child(2) {
    top: .6em;
}


.nav-hamburger span:nth-child(3) {
    top: .6em;
    
}

.nav-hamburger span:nth-child(4) {
    top: 1.2em;
}

.nav-hamburger.open span:nth-child(1){
    top: 1.8em;
    width: 0em;
    right: 50%;
}
  
.nav-hamburger.open span:nth-child(2){
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
  
.nav-hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
.nav-hamburger.open span:nth-child(4) {
    top: 1.8em;
    width: 0%;
    right: 50%;
  }
  


@media screen and (max-width:1024px){
    .nav-items_container{
        display: none;
    }
    .nav-hamburger{
        display: block;
    }
}

@media screen and (max-width:568px){
    .nav-responsive{
        width: 25em;
    }
}