.footer-container{
    font-family: 'Open Sans', sans-serif;
    background: #0B0D17;
}

.footer-padding{
    padding-top: 3.125em;
}

.footer-bottom{
    background: #000;
    padding: 1em 0;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_bottom-text{
    font-size: .875em;
    padding: 1em;
    margin: 0;
}

.footer-social_container{
    display: flex;
    align-items: center;
    font-size: 1.25rem;
}

.footer-social_container i{
    padding-left: .875em;
}

.footer-logo{
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #fff;
    margin: 0;
    padding-bottom: 1em;
}

.footer-logo_subtitle{
    line-height: 180%;
    font-weight: 400;
    color:#999;
    width: 54%;
}

.footer-component_container{
    display: flex;
    justify-content: space-between;
    padding-bottom:5em;
}

.footer-inner_component-container{
    display: flex;
}

.footer-normal_component{
    padding-left: 3.125em;
}

.footer-title{
    font-size:1.125rem;
    color: #fff;
    font-family: 'Montserrat',sans-serif;
    padding-bottom: .625em;
}

.footer-subtitle{
    color: #999;
}

.footer-responsive_components{
    display: none;
}

.accordion-button{
    color:#fff;
    background-color:#0B0D17;
}

.accordion-button:focus{
   box-shadow:none
}

.accordion-button:not(.collapsed){
    color:#fff;
    background-color:#0B0D17;
}

.accordion-body{
    background-color:#0B0D17;
}

.accordion-flush .accordion-item{
    border-radius: 1em;
}

.accordion-item{
    border: .01em solid #fff;
}

.accordion-button::after{
    background-image: url('../../image/chevron-down.png');
}

.accordion-button:not(.collapsed)::after{
    background-image: url('../../image/chevron-down.png');
}

.footer-bottom a{
    color:#fff;
}

@media screen and (max-width:768px){
    .footer-logo{
        padding-left: 1.125em;
    }
    .footer-logo_subtitle{
        padding-left: 1.125em;
        width: 80%;    
    }
    .footer-inner_component-container{
        display: none
    }
    .footer-responsive_components{
        margin-top: 1.5em;
        display: block;
    }
    .footer-component_container{
        flex-direction: column;
    }
    
}